@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form id="form-login" name="form-login" method="get" action="javascript:function()">
    <p>
        <label for="txtLogin">Login</label>
        <input type="text" id="txtLogin" name="txtLogin"/>
    </p>
    <p>
        <label for="txtSenha">Senha</label>
        <input type="password" id="txtSenha" name="txtSenha"/>
    </p>
    <p><a id="botao-entrar" class="btn btn-success">Entrar</a></p>
</form>
<label id="status" class="alert alert-warning"></label>